@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

input,
button {
  appearance: 0;
  font: inherit;
}

body {
  display: flex;
  min-height: 100vh;
}

.hero {
  flex: 0 0 400px;
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-direction: column;
}

.logo {
  flex: 1;
}

.logo h1 {
  background-color: #66666670;
  text-align: center;
  color: #fff;
  font-size: 15vh;
  padding: 5vh;
  font-style: italic;
  position: relative;
  z-index: 1;
}

.logo h1::after {
  content: 'LOGO';
  position: absolute;
  top: 23%;
  left: 18%;
  color: #111;
  z-index: -1;
}

.hero-footer {
  flex: 0 0 auto;
  color: #fff;
  text-align: center;
  background-color: #66666670;
  padding: 0.5vh;
  font-size: 0.8rem;
}

.hero-footer a {
  color: #fff;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
}

.container {
  max-width: 600px;
}

.description {
  /* padding-top: 2rem; */
  color: #363636;
  /* flex: 0 0 30vh; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}

.description p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem;
  /* padding: 0 2rem 1.5rem; */
  margin-bottom: 1.5rem;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  /* padding: 2rem 0; */
  max-width: 600px;
}

.sign-up-form h2 {
  margin-bottom: 2rem;
}

.form-row {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
}

.form-controls {
  position: relative;
}

.form-controls label {
  display: block;
  color: #363636;
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 0.8rem;
  text-transform: lowercase;
}

.form-controls input {
  width: auto;
  border: 2px solid #363636;
  background-color: #fff;
  border-radius: 4px;
  padding: 4px;
  height: 55px;
}

.form-controls input::placeholder {
  font-weight: 200;
  font-style: italic;
}

.form-controls input:user-valid {
  border-color: #90ee90;
}

.form-controls input:user-invalid {
  border-color: #ffb6c1;
}

.submit {
  margin-top: 2rem;
}

.submit button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #2f44fe;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  /* font-style: italic; */
}

.submit button:hover {
  cursor: pointer;
}

.submit p,
.submit a {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #363636;
}